.git
.vscode
**/node_modules
**/vendor
frontend/dist
backend/storage/logs/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
*.md
postman
